*.zip
*gurobi/*
*build_tools/*
*.cls
*.gz
*.synctex
*.nfs*
*.txt
!CMakeLists.txt
*_tester
*_para
*.a
*.cnf
minisat
generate_puzzle
*Obj_mpicc*
*_old
*~
\#*\#
*.or
minisat_static
*bin/*
/search_ils_staged_enhance1
depend.mk
*.out
*.csv
*.puz
.log
._*
*.aux
*.cb
*.log
*.nav
*.snm
*.pdf
!GPU Pipeline for Accelerated Search of an Upper Bound on the Matrix Multiplication Exponent.pdf
!paper/
!paper/2307.06463v1.pdf
*.toc
*.cb2
*.blg
*.fdb_latexmk
*.fls
*.tar.gz
nauty26r7/*g
*.gephi
local-mpi-script
mrmpi.kv.*
nauty*/dreadnaut
nauty*/dretodot
nauty*/genbgL
nauty*/hamheuristic
nauty*/watercluster2
*#*
objs/*
*.o
*.bbl
*.vtc
*__pycache__*
workspace/lib/
.idea/
lapack/
puzzles/
data/
workspace/build/
octave-workspace
.vscode
build
cmake-build-debug
*.sage.py
/venv
records.txt*
docs/api/html/
docs/api/latex/
